@{
	Layout = "_Layout";
}

@using PierreVandO.Models;
<h2>@Model["vendor"].VendorName</h3>
<p>@Model["vendor"].VendorDesc</p>
<h4>Orders:</h4>
@if (@Model["orders"].Count == 0)
{
	<p>They have yet to order anything.  What could be stopping them?</p>
}
<ul>
	@foreach (Order order in Model["orders"])
	{
		<li><a href='@Model["vendor"].VendorId/orders/@order.OrderId'>@order.OrderName</a> - @order.OrderDate</li>
	}
</ul>
<p><a href='/vendors/@Model["vendor"].VendorId/orders/new'>Add a new order through this vendor.</a></p>