@{
	Layout = "_Layout";
}
@using PierreVandO.Models;
@if (@Model.Count == 0)
{
	<p>No orders at all.  Strange.  Why do people not want baguettes anymore?  When did puff pastry lose its allure?</p> 
}
else
{
	<h3>Here are your orders.  Every one you've told me.  I will recite them.</h3>
	<ul>
	@foreach (Order order in Model)
		{	
			<li>
				@order.OrderName - @order.OrderDesc
				@order.OrderPrice // @order.OrderDate
			</li>
		}
	</ul>
}