@{
	Layout = "_Layout";
}
@using PierreVandO.Models;
<h2>@Model["order"].OrderName</h3>
<p>Placed from @Model["vendor"].VendorName on the following date: @Model["order"].OrderDate</p>
<h4><strong>Order Summary:</strong></h4>
<p>@Model["order"].OrderDesc</p>
<p><strong>Final Price:</strong></p>
<p>@Model["order"].OrderPrice</p>
<p><a href='/vendors/@Model["vendor"].VendorId/orders/new'>Add a new order through this vendor.</a></p>